<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>WEATHER | {{title}}</title>
  <link rel="icon" href="img/Fevicon.png" type="image/png">
  <link rel="stylesheet" href="/vendors/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/vendors/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="/vendors/themify-icons/themify-icons.css">
  <link rel="stylesheet" href="/vendors/linericon/style.css">
  <link rel="stylesheet" href="/vendors/owl-carousel/owl.theme.default.min.css">
  <link rel="stylesheet" href="/vendors/owl-carousel/owl.carousel.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  {{>header}}   
  <section class="hero-banner hero-banner--sm mb-30px">
    <div class="container">
      <div class="hero-banner--sm__content">
        <p class="section-intro__subtitle text-justify">
            <h1>{{message}}</h1>
        </p>
      </div>
    </div>
  </section>    
  <section class="mt-4">
    <div class="container">
      <div class="section-intro pb-85px text-center">  
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Id quisquam cupiditate, similique soluta quae voluptate placeat numquam excepturi eaque doloremque veritatis eos quas nesciunt, consequuntur quam rerum hic, sed nisi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum corporis nisi tenetur consequatur asperiores earum in, debitis, fugiat, molestiae culpa aspernatur sed ipsa possimus nulla incidunt expedita quos nobis veritatis?      
      </div>
    </div>
  </section>  
{{>footer}}
  <script src="/vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="/vendors/bootstrap/bootstrap.bundle.min.js"></script>
  <script src="/vendors/owl-carousel/owl.carousel.min.js"></script>
  <script src="/js/jquery.ajaxchimp.min.js"></script>
  <script src="/js/mail-script.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>